.paginate {
  display: flex;
  margin: 40px 0;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  li {
    cursor: pointer;
    list-style-type: none;
    margin: 0 4px 10px;
    a {
      margin: 4px 8px;
      display: block;
    }
    a:focus {
      outline-style: none;
      -moz-outline-style: none;
    }
    &.disabled {
      a {
        color: #bfbfbf;
      }
    }
    &.selected {
      border-bottom: 3px solid var(--themeColor);
    }
  }
}
