.mask {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0,0,0,.5);
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  .popup{

  }
}
