@import "../css/them.css";
*{
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 8px;
  height: 8px
}

html::-webkit-scrollbar-thumb {
  height: 40px;
  background-color: #eee;
  border-radius: 0
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #ddd
}

body{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


a{
  color: #161209;
  text-decoration: none;
  transition: color .2s ease,
  border-color .46s ease,background .46s ease,opacity .46s ease;
}

a:hover{
  color: var(--themeColor);
}
p{
  line-height: 2em;
}

#nprogress {
  .spinner {
    width: 100vw;
    top: 0;
    display: flex;
    right: 0;
    align-items: center;
    background: rgba(255, 255, 255, 0.68);
    justify-content: center;
    height: 100vh;
    pointer-events: auto;
    .spinner-icon {
      border-top-color: var(--themeColor);
      border-left-color: var(--themeColor);
    }
  }
  .bar {
    background: var(--themeColor);
    z-index: 1032;
  }
}
